interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.somafm.com/channels.xml
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"ISO-8859-1\"?>\n<channels>\n\t<channel
        id=\"7soul\">\n\t\t<title><![CDATA[Seven Inch Soul]]></title>\n\t\t<description><![CDATA[Vintage
        soul tracks from the original 45 RPM vinyl.]]></description>\n\t\t<dj><![CDATA[Dion
        Watts Garcia]]></dj>\n\t\t<djmail><![CDATA[dion@somafm.com]]></djmail>\n\t\t<genre>oldies</genre>\n\t\t<image>https://api.somafm.com/img/7soul120.png</image>\n\t\t<largeimage>https://api.somafm.com/logos/256/7soul256.png</largeimage>\n\t\t<xlimage>https://api.somafm.com/logos/512/7soul512.png</xlimage>\n\t\t<updated>1776988147</updated>\n\t\t<highestpls
        format=\"aac\">https://somafm.com/7soul130.pls</highestpls>\n\t\t<fastpls
        format=\"mp3\">https://somafm.com/7soul.pls</fastpls>\n\t\t<fastpls format=\"aacp\">https://somafm.com/7soul64.pls</fastpls>\n\t\t<slowpls
        format=\"aacp\">https://somafm.com/7soul32.pls</slowpls>\n\t\t<listeners>117</listeners>\n\t\t<lastPlaying><![CDATA[Eddie
        Lebron - My Vows To You]]></lastPlaying>  \n\t</channel>\n\t<channel id=\"beatblender\">\n\t\t<title><![CDATA[Beat
        Blender]]></title>\n\t\t<description><![CDATA[A late night blend of deep-house
        and downtempo chill.]]></description>\n\t\t<dj><![CDATA[DJ Shawn]]></dj>\n\t\t<djmail><![CDATA[shawn@somafm.com]]></djmail>\n\t\t<genre>electronic</genre>\n\t\t<image>https://api.somafm.com/img/blender120.png</image>\n\t\t<largeimage>https://api.somafm.com/logos/256/beatblender256.png</largeimage>\n\t\t<xlimage>https://api.somafm.com/logos/512/beatblender51[...]
