interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://somafm.com/songs/groovesalad.xml
  response:
    body:
      string: '<?xml version="1.0" encoding="ISO-8859-1"?>

        <songs id="groovesalad">

        <song>

        <title><![CDATA[Boogie Heights]]></title>

        <artist><![CDATA[Heights Of Abraham]]></artist>

        <album><![CDATA[Electric Hush]]></album>

        <albumart><![CDATA[]]></albumart>

        <date>1778168685</date>

        </song>

        <song>

        <title><![CDATA[True Clown]]></title>

        <artist><![CDATA[Reef Project]]></artist>

        <album><![CDATA[LQ-1086 (Looq Records)]]></album>

        <albumart><![CDATA[]]></albumart>

        <date>1778168333</date>

        </song>

        <song>

        <title><![CDATA[Time Drops]]></title>

        <artist><![CDATA[Patchwork]]></artist>

        <album><![CDATA[Odeon]]></album>

        <albumart><![CDATA[]]></albumart>

  [...]
